{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js" integrity="sha512-aNMyYYxdIxIaot0Y1/PLuEu3eipGCmsEUBrUq+7aVyPGMFH8z0eTP0tkqAvv34fzN6z+201d3T8HPb1svWSKHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'core.js' %}"></script>
  <script src="{% static 'main/script.js' %}"></script>
  <link rel="stylesheet" href="{% static 'main/styles.css' %}">

  <title>Галиев Рамиль - Портфолио</title>
</head>
<body>
  <main class="container">
    <header>Header</header>
    <section class="content">
      <div class="left__content">
        <div class="top__section">
          <div class="section__scrollable">
            <div class="scrollable__title">Инструменты</div>
            <div class="scrollable__content"></div>
          </div>
        </div>
        <div class="bottom__section">
          <p class="section__subtitle">// Делайте то, что любите</p>
          <h1 class="section__title">То, на что хочется смотреть <i>снова и снова</i>...</h1>
        </div>
      </div>
      <div class="right__content">
        <div class="center__section">
          <div class="section__scrollable">
            <div class="scrollable__title">О себе</div>
            <div class="scrollable__content">
              Lorem ipsum dolor sit amet consectetur. Eget urna faucibus nibh rutrum eu dictum mauris in. Dui volutpat volutpat condimentum sagittis.<br/><br/>
              Egestas eu magna suscipit posuere tristique rutrum lectus purus accumsan. Mi et porta mauris quisque suspendisse viverra.<br/><br/>
              Egestas eu magna suscipit posuere tristique rutrum lectus purus accumsan. Mi et porta mauris quisque suspendisse viverra.<br/><br/>
              Egestas eu magna suscipit posuere tristique rutrum lectus purus accumsan. Mi et porta mauris quisque suspendisse viverra.<br/><br/>
              Egestas eu magna suscipit posuere tristique rutrum lectus purus accumsan. Mi et porta mauris quisque suspendisse viverra.<br/><br/>
              Egestas eu magna suscipit posuere tristique rutrum lectus purus accumsan. Mi et porta mauris quisque suspendisse viverra.<br/><br/>

              Egestas eu magna suscipit posuere tristique rutrum lectus purus accumsan. Mi et porta mauris quisque suspendisse viverra.
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>