#root {
  height: 100%;
  width: 100%;
}

.fade {
  background: linear-gradient(to bottom, transparent, #1a1a1a);
  mask-image: linear-gradient(to top, #1a1a1a 25%, transparent);
  backdrop-filter: blur(1px);
}