@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #FFFFFF;
    --color: #272727;
    --secondary-color: #656565;

    --container-padding: 45px;
    --font-family: "Inter", Arial, sans-serif;
    --text-regular: 18px;
    --text-regular-xl: 20px;
    --text-medium: 24px;
    --text-large: 32px;
    --text-large-xl: 44px;
}

body {
    height: 100vh;
    color: var(--color);
    background-color: var(--background-color);
    font-family: var(--font-family);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: var(--container-padding);
}

body::before {
    position: absolute;
    top: 0; right: 50%;
    transform: translate(50%,-70%);
    content: "";
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, .8);
    filter: blur(150px);
}

header {
    height: 85px;
    display: flex;
}

.content {
    height: 100%;
    display: flex;
    gap: 50px;
}

.section__subtitle {
    font-size: var(--text-medium);
}

.section__title {
    font-size: var(--text-large-xl);
    line-height: 1.2;
    font-weight: 500;
}

.left__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

.right__content {
    flex: 1.3;
}

.scrollable__title {
    font-size: var(--text-regular);
    color: var(--secondary-color);
    margin-bottom: 20px;
    user-select: none;
}

.right__content {
    height: calc(100vh - (var(--container-padding) * 2) - 85px);
    position: relative;
}

.right__content .scrollable__content {
    font-size: var(--text-regular-xl);
    height: calc(100vh - (var(--container-padding) * 2) - 85px - 45px);
    overflow: scroll;
    font-weight: 400;
}

.right__content::before {
    pointer-events: none;
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(transparent, #272727);
    width: 100%;
    height: 200px;
    left: 0;
    bottom: 0;
}

.bottom__section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #272727;
        --color: #FFFFFF;
        --secondary-color: #E7E7E7;
    }
}
